<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- 导入bootstrap -->
	{% include 'link_js.html' ignore missing  %}

</head>

<body>
	<!-- 路径导航开始 -->
	<ol class="breadcrumb" style="background-color: white;padding: 20px;position:relative;top:15px;">
		<li><a href="{{ url_for('company.home')}} ">主页</a></li>
		<li><a href="{{ url_for('position.show_pt')}}">职位管理</a></li>
		<li class="active">职位展示</li>
	</ol>
	<!-- 路径导航结束 -->
	<hr>
	<!-- 条件搜索开始 -->
	<form class="form-inline col-md-offset-9" method="post">
		<div class="form-group">
			<!-- 查找员工 -->
			<input class="form-control col-md-5" type="text" name="pt_name" placeholder="请输入职位名称">
		</div>
		<button type="submit" class="btn btn-primary">搜索</button>
	</form>
	<!-- 条件搜索结束 -->
	<br>
	<!-- 错误信息开始 -->
	<div class=" col-sm-offset-2 col-sm-7">
		<div class="missing"></div>
		{% include 'missing.html' ignore missing  %}
	</div>
	<!-- 错误信息结束 -->
	<!--表格主体开始 -->
	<div class="container">
		<div class="row">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>编号</th>
						<th>职位名称</th>
						<th>职位描述</th>
						<th>职位人数</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{% for post in list %}
					<tr>
						<td>{{ post['id'] }}</td>
						<td>{{ post['pt_name'] }}</td>
						<td>{{ post['pt_describe'] }}</td>
						<td>{{ post['pt_count'] }}</td>
						<td>
							<form action="{{ url_for('position.delete_pt', id=post['id']) }}" method="post">
								<a class="btn btn-warning"
									href="{{ url_for('position.update_pt', id=post['id']) }}">修改</a>
								<input class="btn btn-danger" type="submit" value="删除"
									onclick="return confirm('你确定删除该职位吗?');">
							</form>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<!-- 引用分页 -->
			{% include 'page.html' ignore missing  %}
		</div>
	</div>
	<!-- 表格主体结束 -->
</body>

</html>