<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>添加团队</title>

	<!-- 导入bootstrap -->
	{% include 'link_js.html' ignore missing  %}

</head>

<body>
    <div style="padding: 20px;">
        <h5>当前位置>团队管理>添加团队</h5>
    </div>
    <hr>
    <div class="container-fluid">
        <form class="form-inline" method="post">
            <!-- 第一行-->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group col-sm-offset-2">
                        <label for="exampleInputEmail2">团队名称</label>
                        <input type="text" name='team_name' id="wd" class="form-control" value="{{ request.form['team_name'] or post['team_name'] }}"
                        required>
                    </div>
                </p>
            </div>
            <!-- 第二行 -->
			<div class="col-sm-offset-2 col-sm-10">
				<p>
					<div class="form-group col-sm-offset-2">
						<label for="exampleInputName2">团队描述</label>
						<textarea class="form-control" id="wd" rows="3" cols="22" style="resize:none" name="team_describe" required>{{ request.form['team_describe'] or post['team_describe'] }}</textarea>
					</div>
				</p>
			</div>
            <!-- 错误信息开始 -->
            <div class=" col-sm-offset-3 col-sm-5">
                {% include 'missing.html' ignore missing  %}
            </div>
            <!-- 错误信息结束 -->
            <!-- 提交和取消按钮 -->
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-primary">提交</button>
                <button type="reset" class="btn btn-danger col-md-offset-1">取消</button>
            </div>
        </form>


    </div>
</body>

</html>