<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>中小型人力资源管理系统</title>

	<!-- 导入bootstrap -->
	{% include 'link_js.html' ignore missing  %}
</head>
<body>
    <ol class="breadcrumb" style="background-color: white;padding: 20px;position:relative;top:15px;">
        <li><a href="{{ url_for('company.home')}} ">主页</a></li>
        <li><a href="{{ url_for('company.home')}}">主页管理</a></li>
        <li class="active">查看主页</li>
      </ol>
    <hr>
    <div class="jumbotron col-sm-offset-1 col-sm-11" style="background-color:white;">
        {% for post in posts %}
        <h2>{{ post['cp_title'] }}</h2>
        <pre>{{ post['cp_body'] }}</pre>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('company.show_more') }}" role="button">了解更多</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-warning btn-lg" href="{{ url_for('company.update_home', id=post['id']) }}" role="button">修改</a>
        </p>
        {% endfor %}
    </div>
</body>

</html>