<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>中小型人力资源管理系统</title>
    <!-- 导入公共引用 -->
    {% include 'link_js.html' ignore missing  %}
    <!-- 导入自适应高度代码 -->
    <script src="{{url_for('static', filename='js/textarea.js')}}"></script>
    
</head>
<style>
    .bk:focus {
        outline: none;
        border: 0px;
        /*跟进textarea背景颜色来定*/
    }
    .bk {
        background-color: white;
        border: 0px;
    }
</style>

<body>
    <!-- 路径导航开始 -->
    <ol class="breadcrumb" style="background-color: white;padding: 20px;position:relative;top:15px;">
        <li><a href="{{ url_for('company.home')}} ">主页</a></li>
        <li><a href="{{ url_for('company.home')}}">主页管理</a></li>
        <li class="active">查看主页</li>
    </ol>
    <!-- 路径导航结束 -->
    <hr>
    <!-- 巨幕主体开始 -->
    <div class="jumbotron col-sm-offset-1 col-sm-10" style="background-color:white;">
        {% for post in posts %}
        <h2>{{ post['cp_title'] }}</h2>
        <textarea class="bk" rows="10" cols="120" readonly>{{ post['cp_body'] }}</textarea>
        <br>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('company.show_more') }}"
                role="button">了解更多</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-warning btn-lg" href="{{ url_for('company.update_home', id=post['id']) }}"
                role="button">修改</a>
        </p>
        {% endfor %}
    </div>
    <!-- 巨幕主体结束 -->
</body>

</html>