<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>修改员工信息</title>

    <!-- 导入公共引用 -->
    {% include 'link_js.html' ignore missing  %}
    <!-- 导入width的代码 -->
    {% include 'width.html' ignore missing  %}
    <!-- 导入正则表达式的验证 -->
    <script type="text/javascript" src="{{url_for('static', filename='js/user_judge.js')}}"></script>

</head>

<body>
    <!-- 路径导航开始 -->
    <ol class="breadcrumb" style="background-color: white;padding: 20px;position:relative;top:15px;">
        <li><a href="{{ url_for('company_user.home_user')}} ">主页</a></li>
        <li><a href="{{ url_for('personnel_user.show_user')}}">个人基本信息</a></li>
        <li class="active">修改个人基本信息展示</li>
    </ol>
    <hr>
    <!-- 路径导航结束 -->
    <div class="container-fluid">
        <form class="form-inline" method="post">
            <!-- 第一行-->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputEmail2">你的姓名</label>
                        <div id="wd2" class="form-group">
                            <input type="text" name='username' class="reg_user form-control" id="wd"
                                value="{{ request.form['username'] or post['username'] }}" required>
                            <span class="user_hint"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">员工性别</label>
                        <div class="form-group">
                            <select class="form-control" style="width: 196px;" name="sex">
                                <option>{{post['sex']}}</option>
                                {% if post['sex']== '女' %}
                                <option>男</option>
                                {% else %}
                                <option>女</option>
                                {% endif %}
                            </select></div>
                    </div>
                </p>
            </div>
            <!-- 第二行-->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputName2">你的邮箱</label>
                        <div id="wd2" class="form-group">
                            <input type="email" id="wd" class="reg_email form-control" name="email"
                                value="{{ request.form['email'] or post['email'] }}" required>
                            <span class="email_hint"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">你的电话</label>
                        <input type="text" id="wd" class="reg_mobile form-control" name="tel"
                            value="{{ request.form['tel'] or post['tel'] }}" required>
                        <span class="mobile_hint"></span>
                    </div>
                </p>
            </div>
            <!-- 第三行 -->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputName2">出生日期</label>
                        <div id="wd2" class="form-group">
                            <input type="date" id="wd" class="form-control" name="birthday"
                                value="{{ request.form['birthday'] or post['birthday'] }}">
                        </div>
                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputName2">你的密码</label>
                        <input type="password" id="wd" class="reg_password form-control" name="password"
                            placeholder="请输入密码" required>
                        <span class="password_hint"></span>
                    </div>
                </p>
            </div>

            <!-- 错误信息开始 -->
            <div class=" col-sm-offset-2 col-sm-7">
                <div class="missing"></div>
                {% include 'missing.html' ignore missing  %}
            </div>
            <!-- 错误信息结束 -->
            <!-- 提交和取消按钮 -->
            <div class="col-md-offset-4 col-md-10">
                <button type="submit" class="red_button btn btn-primary">提交</button>
                <button type="reset" class="btn btn-danger col-md-offset-1">取消</button>
            </div>
        </form>


    </div>
</body>

</html>