<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>了解更多</title>
	<!-- 导入bootstrap -->
	{% include 'link_js.html' ignore missing  %}
    <!-- 导入自适应高度代码 -->
    <script src="{{url_for('static', filename='js/textarea.js')}}"></script>
</head>
<!-- 导入textarea样式 -->
{% include 'textarea.html' ignore missing  %}
<body>
    <ol class="breadcrumb" style="background-color: white;padding: 20px;position:relative;top:15px;">
        <li><a href="{{ url_for('company_user.home_user')}} ">主页</a></li>
        <li><a href="{{ url_for('company_user.home_user')}}">主页管理</a></li>
        <li class="active">了解更多</li>
      </ol>
    <hr>
    <div class="jumbotron col-sm-offset-1 col-sm-11" style="background-color:white;">
        {% for post in posts %}
        <h2>{{ post['cp_title'] }}</h2>
        <textarea class="bk" cols="120" readonly>{{ post['cp_body'] }}</textarea>
        {% endfor %}
    </div>
</body>

</html>