<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>员工请假页面</title>
    <!-- 导入公共引用 -->
    {% include 'link_js.html' ignore missing  %}
    <!-- 导入width的代码 -->
    {% include 'width.html' ignore missing  %}
</head>

<body>
    <!-- 路径导航开始 -->
    <ol class="breadcrumb" style="background-color: white;padding: 20px;position:relative;top:15px;">
        <li><a href="{{ url_for('company_user.home_user')}} ">主页</a></li>
        <li><a href="{{ url_for('leave_user.create_leave')}}">请假管理</a></li>
        <li class="active">申请请假</li>
    </ol>
    <!-- 路径导航结束 -->
    <hr>
    <form class="form-inline" method="post">
        <!-- 第一行-->
        <div class="col-sm-offset-2 col-sm-10">
            <p>
                <div class="form-group">
                    <label for="exampleInputName2">开始时间</label>
                    <input name="begin_time" type="date" id="date1" class="form-control" style="width: 196px;" />
                </div>
                <div class="form-group col-sm-offset-1">
                    <label for="exampleInputEmail2">结束时间</label>
                    <input name="end_time" type="date" id="date2" class="form-control" style="width: 196px;"
                        onblur="huoqu()" />
                </div>
            </p>
        </div>
        <!-- 第二行 -->
        <div class="col-sm-offset-2 col-sm-10">
            <p>
                <div class="form-group">
                    <label for="exampleInputEmail2">请假天数</label>
                    <input name="leave_time" type="text" class="form-control" id="days" readonly="readonly" id="wd">
                </div>
                <div class="form-group col-sm-offset-1">
                    <label for="exampleInputEmail2">请假类型</label>
                    <div class="form-group">
                        <select class="form-control" id="wd" name="leave_name">
                            <option>事假</option>
                            <option>病假</option>
                            <option>婚假</option>
                            <option>产假</option>
                            <option>丧假</option>
                        </select></div>
                </div>

            </p>
        </div>
        <!-- 第四行 -->
        <div class="col-sm-offset-2 col-sm-10">
            <p>
                <div class="form-group">
                    <label for="exampleInputName2">请假理由</label>
                    <textarea name="leave_describe" class="form-control" rows="3" cols="80" style="resize:none;width: 530px;"
                        placeholder="请填写请假理由" required></textarea>
                </div>
            </p>
        </div>
        <div class="col-md-offset-4 col-md-8">
            <button type="submit" class="btn btn-primary">提交</button>
            <button type="reset" class="btn btn-danger col-md-offset-2">取消</button>
        </div>
    </form>


</body>

</html>