<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>添加员工</title>

    <!-- 导入公共头部 -->
    {% include 'link_js.html' ignore missing  %}
    <!-- 导入width的代码 -->
    {% include 'width.html' ignore missing  %}
    <!-- 导入正则表达式的验证 -->
    <script type="text/javascript" src="{{url_for('static', filename='js/JavaScript.js')}}"></script>
</head>

<body>
    <!-- 路径导航 -->
    <ol class="breadcrumb" style="background-color: white;padding: 20px;position:relative;top:15px;">
        <li><a href="{{ url_for('company.home')}} ">主页</a></li>
        <li><a href="{{ url_for('personnel.show')}}">员工管理</a></li>
        <li class="active">添加员工</li>
    </ol>
    <hr>
    <!-- 路径导航结束 -->
    <!-- 添加员工表单开始 -->
    <div class="container-fluid">
        <form class="form-inline" method="post">
            <!-- 第一行-->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputEmail2">员工姓名</label>
                        <div id="wd2" class="form-group">
                            <input type="text" name='username' class="reg_user form-control" id="wd"
                                placeholder="请输入员工姓名" required>
                            <span class="user_hint"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">员工性别</label>
                        <div class="form-group wd">
                            <select class="form-control" id="wd" name="sex">
                                <option>男</option>
                                <option>女</option>
                            </select></div>
                    </div>
                </p>
            </div>
            <!-- 第二行 -->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputName2">员工生日</label>
                        <div id="wd2" class="form-group">
                            <input type="date" id="date1" class="form-control" name="birthday" style="width: 196px;" />
                        </div>

                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">入职时间</label>
                        <input type="date" id="date2" name="work_begin_day" class="form-control"
                            style="width: 196px;" />
                    </div>
                </p>
            </div>

            <!-- 第三行-->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputEmail2">员工邮箱</label>
                        <div id="wd2" class="form-group">
                            <input type="email" id="wd" name="email" class="reg_email form-control"
                                placeholder="请输入邮箱地址" required>
                            <span class="email_hint"></span>
                        </div>

                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">员工电话</label>
                        <input type="text" id="wd" name="tel" class="reg_mobile form-control" placeholder="请输入电话号码"
                            required>
                        <span class="mobile_hint"></span>
                    </div>
                </p>
            </div>
            <!-- 第四行 -->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputEmail2">部门名称</label>
                        <div id="wd2" class="form-group">
                            <select class="form-control" id="wd" name="dp_name">
                                {% for post in posts %}
                                {% for po in post %}
                                <option>{{ po }}</option>
                                {% endfor %}
                                {% endfor %}
                            </select></div>

                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">团队名称</label>
                        <div class="form-group">
                            <select class="form-control" id="wd" name="team_name">
                                {% for post in team_posts %}
                                {% for po in post %}
                                <option>{{ po }}</option>
                                {% endfor %}
                                {% endfor %}
                            </select></div>
                    </div>
                </p>
            </div>
            <!-- 第五行-->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputEmail2">职位名称</label>
                        <div id="wd2" class="form-group">
                            <select class="form-control" id="wd" name="pt_name">
                                {% for post in pt_posts %}
                                {% for po in post %}
                                <option>{{ po }}</option>
                                {% endfor %}
                                {% endfor %}
                            </select></div>
                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">员工薪资</label>
                        <input type="number" name="money" id="wd" class="reg_money form-control" placeholder="请输入薪资"
                            required>
                        <span class="money_hint"></span>
                    </div>
                </p>
            </div>
            <!-- 第六行 -->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputName2">员工密码</label>
                        <div id="wd2" class="form-group">
                            <input type="password" id="wd" class="reg_password form-control" name="password"
                                placeholder="请输入密码" required>
                            <span class="password_hint"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">员工权限</label>
                        <div class="form-group">
                            <select class="form-control" id="wd" name="level">
                                <option>员工</option>
                                <option>管理员</option>
                            </select></div>
                    </div>
                </p>
            </div>
            <!-- 错误信息 -->
            <div class=" col-sm-offset-2 col-sm-7">
                {% include 'missing.html' ignore missing  %}
            </div>
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="red_button btn btn-primary">提交</button>
                <button type="reset" class="btn btn-danger col-md-offset-1">取消</button>
            </div>
        </form>
    </div>
    <!-- 添加员工表单结束 -->
</body>

</html>