<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>修改员工信息</title>
    <!-- 导入公共引用 -->
    {% include 'link_js.html' ignore missing  %}
    <!-- 导入width的代码 -->
    {% include 'width.html' ignore missing  %}
    <!-- 导入正则表达式的验证 -->
    <script type="text/javascript" src="{{url_for('static', filename='js/judge.js')}}"></script>
</head>

<body>
    <ol class="breadcrumb" style="background-color: white;padding: 20px;position:relative;top:15px;">
        <li><a href="{{ url_for('company.home')}} ">主页</a></li>
        <li><a href="{{ url_for('personnel.show')}}">员工管理</a></li>
        <li class="active">修改员工</li>
    </ol>
    <hr>
    <div class="container-fluid">
        <form class="form-inline" method="post">
            <!-- 第一行-->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputEmail2">员工姓名</label>
                        <div id="wd2" class="form-group">
                            <input type="text" name='username' id="wd" class="reg_user form-control"
                                value="{{ request.form['username'] or post['username'] }}" required>
                            <span class="user_hint"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">员工性别</label>
                        <div class="form-group">
                            <select class="form-control" id="wd" name="sex">
                                <option>男</option>
                                <option>女</option>
                            </select></div>
                    </div>
                </p>
            </div>
            <!-- 第二行 -->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputName2">员工生日</label>
                        <div id="wd2" class="form-group">
                            <input type="date" id="wd" class="form-control" name="birthday"
                                value="{{ request.form['birthday'] or post['birthday'] }}">
                        </div>

                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">入职时间</label>
                        <input type="date" id="wd" name="work_begin_day" class="form-control"
                            value="{{ request.form['work_begin_day'] or post['work_begin_day'] }}">
                    </div>
                </p>
            </div>
            <!-- 第三行 -->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputName2">员工邮箱</label>
                        <div id="wd2" class="form-group">
                            <input type="email" id="wd" class="reg_email form-control" name="email"
                                value="{{ request.form['email'] or post['email'] }}" required>
                            <span class="email_hint"></span>
                        </div>

                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">员工电话</label>
                        <input type="text" id="wd" class="reg_mobile form-control" name="tel"
                            value="{{ request.form['tel'] or post['tel'] }}" required>
                        <span class="mobile_hint"></span>
                    </div>
                </p>
            </div>
            <!-- 第四行-->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputEmail2">员工职位</label>

                        <div id="wd2" class="form-group">
                            <select class="form-control" id="wd" name="pt_name">
                                <!-- 第一个选项为当前用户的职位 -->
                                {% for post in pt_fact %}
                                <option>{{ post['pt_name'] }}</option>
                                {% endfor %}
                                <!-- 其他选项为可选职位 -->
                                {% for post in pt_others %}
                                <option>{{ post['pt_name'] }}</option>
                                {% endfor %}
                            </select></div>
                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">员工薪资</label>
                        <input type="number" name="money" id="wd" class="reg_money form-control" placeholder="请输入薪资"
                            value="{{ request.form['money'] or post['money'] }}" required>
                        <span class="money_hint"></span>
                    </div>
                </p>
            </div>
            <!-- 第五行 -->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputEmail2">所属团队</label>
                        <div id="wd2" class="form-group">
                            <select class="form-control" style="width: 196px;" name="team_name">
                                <!-- 第一个选项为当前用户的团队 -->
                                {% for post in team_fact %}
                                <option>{{ post['team_name'] }}</option>
                                {% endfor %}
                                <!-- 其他选项为可选团队 -->
                                {% for post in team_others %}
                                <option>{{ post['team_name'] }}</option>
                                {% endfor %}
                            </select></div>
                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">所属部门</label>
                        <div class="form-group">
                            <select class="form-control" id="wd" name="dp_name">
                                <!-- 第一个选项为当前用户的部门 -->
                                {% for post in dp_fact %}
                                <option>{{ post['dp_name'] }}</option>
                                {% endfor %}
                                <!-- 其他选项为可选部门 -->
                                {% for post in dp_others %}
                                <option>{{ post['dp_name'] }}</option>
                                {% endfor %}

                            </select></div>
                    </div>
                </p>
            </div>
            <!-- 第六行 -->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputName2">员工密码</label>
                        <div id="wd2" class="form-group">
                            <input type="password" id="wd" class="reg_password form-control" name="password"
                                placeholder="请输入密码" required>
                            <span class="password_hint"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">员工权限</label>
                        <div class="form-group">
                            <select class="form-control" id="wd" name="level">
                                <option>{{post['level']}}</option>
                                {% if post['level']=='管理员' %}
                                <option>员工</option>
                                {% else %}
                                <option>管理员</option>
                                {% endif %}
                            </select></div>
                    </div>
                </p>
            </div>
            <!-- 错误信息开始 -->
            <div class=" col-sm-offset-2 col-sm-7">
                <div class="missing"></div>
                {% include 'missing.html' ignore missing  %}
            </div>
            <!-- 错误信息结束 -->
            <!-- 提交和取消按钮 -->
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="red_button btn btn-primary">提交</button>
                <button type="reset" class="btn btn-danger col-md-offset-1">取消</button>
            </div>
        </form>


    </div>
</body>

</html>