<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>修改员工信息</title>
    <!-- 导入bootstrap -->
    {% include 'link_js.html' ignore missing  %}

</head>

<body>
    <ol class="breadcrumb" style="background-color: white;padding: 20px;position:relative;top:15px;">
        <li><a href="{{ url_for('company.home')}} ">主页</a></li>
        <li><a href="{{ url_for('personnel.show')}}">员工管理</a></li>
        <li class="active">修改员工</li>
    </ol>
    <hr>
    <div class="container-fluid">
        <form class="form-inline" method="post">
            <!-- 第一行-->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputEmail2">员工姓名</label>
                        <input type="text" name='username' class="form-control"
                            value="{{ request.form['username'] or post['username'] }}" required> </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">员工性别</label>
                        <div class="form-group">
                            <select class="form-control" style="width: 196px;" name="sex">
                                <option>男</option>
                                <option>女</option>
                            </select></div>
                    </div>
                </p>
            </div>
            <!-- 第二行 -->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputName2">员工生日</label>
                        <input type="date" id="date1" class="form-control" name="birthday"
                            value="{{ request.form['birthday'] or post['birthday'] }}" style="width: 196px;" />
                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">入职时间</label>
                        <input type="date" id="date2" name="work_begin_day" class="form-control"
                            value="{{ request.form['work_begin_day'] or post['work_begin_day'] }}"
                            style="width: 196px;" />
                    </div>
                </p>
            </div>
            <!-- 第三行 -->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputName2">员工邮箱</label>
                        <input type="text" class="form-control" name="email"
                            value="{{ request.form['email'] or post['email'] }}">
                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">员工电话</label>
                        <input type="text" class="form-control" name="tel"
                            value="{{ request.form['tel'] or post['tel'] }}">
                    </div>
                </p>
            </div>
            <!-- 第四行-->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputEmail2">员工职位</label>
                        <div class="form-group">
                            <select class="form-control" style="width: 196px;" name="pt_name">
                                <!-- 第一个选项为当前用户的职位 -->
                                {% for post in pt_fact %}
                                <option>{{ post['pt_name'] }}</option>
                                {% endfor %}
                                <!-- 其他选项为可选职位 -->
                                {% for post in pt_others %}
                                <option>{{ post['pt_name'] }}</option>
                                {% endfor %}
                            </select></div>
                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">员工薪资</label>
                        <input type="text" name="money" class="form-control" placeholder="请输入薪资"
                            value="{{ request.form['money'] or post['money'] }}">
                    </div>
                </p>
            </div>
            <!-- 第五行 -->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputEmail2">所属团队</label>
                        <div class="form-group">
                            <select class="form-control" style="width: 196px;" name="team_name">
                                <!-- 第一个选项为当前用户的团队 -->
                                {% for post in team_fact %}
                                <option>{{ post['team_name'] }}</option>
                                {% endfor %}
                                <!-- 其他选项为可选团队 -->
                                {% for post in team_others %}
                                <option>{{ post['team_name'] }}</option>
                                {% endfor %}
                            </select></div>
                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">所属部门</label>
                        <div class="form-group">
                            <select class="form-control" style="width: 196px;" name="dp_name">
                                <!-- 第一个选项为当前用户的部门 -->
                                {% for post in dp_fact %}
                                <option>{{ post['dp_name'] }}</option>
                                {% endfor %}
                                <!-- 其他选项为可选部门 -->
                                {% for post in dp_others %}
                                <option>{{ post['dp_name'] }}</option>
                                {% endfor %}

                            </select></div>
                    </div>
                </p>
            </div>
            <!-- 第六行 -->
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    <div class="form-group">
                        <label for="exampleInputName2">员工密码</label>
                        <input type="password" class="form-control" name="password" placeholder="请输入密码">
                    </div>
                    <div class="form-group col-sm-offset-1">
                        <label for="exampleInputEmail2">员工权限</label>
                        <div class="form-group">
                            <select class="form-control" style="width: 196px;" name="level">
                                <option>{{post['level']}}</option>
                                {% if post['level']=='管理员' %}
                                <option>员工</option>
                                {% else %}
                                <option>管理员</option>
                                {% endif %}
                            </select></div>
                    </div>
                </p>
            </div>
            <!-- 错误信息 -->
            {% for message in get_flashed_messages() %}
            <div class="col-sm-offset-2 col-sm-10">{{message}}</div>
            {% endfor%}
            <!-- 提交和取消按钮 -->
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-primary">提交</button>
                <button type="reset" class="btn btn-danger col-md-offset-1">取消</button>
            </div>
        </form>


    </div>
</body>

</html>