<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- 导入bootstrap -->
	{% include 'link_js.html' ignore missing  %}

</head>

<body>
	<ol class="breadcrumb" style="background-color: white;padding: 20px;position:relative;top:15px;">
		<li><a href="{{ url_for('company.home')}} ">主页</a></li>
		<li><a href="{{ url_for('department.show_dp')}}">部门管理</a></li>
		<li class="active">查看部门</li>
	</ol>
	<hr>
	<form class="form-inline col-md-offset-9" method="post">
		<div class="form-group">
			<!-- 查找员工 -->
			<input class="form-control col-md-5" type="text" name="dp_name" placeholder="请输入部门名称">
		</div>
		<button type="submit" class="btn btn-primary">搜索</button>
	</form>
	<br>
	<div class="container">
		<div class="row">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>编号</th>
						<th>部门名称</th>
						<th>部门描述</th>
						<th>部门人数</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{% for post in list %}
					<tr>
						<td>{{ post['id'] }}</td>
						<td>{{ post['dp_name'] }}</td>
						<td>{{ post['dp_describe'] }}</td>
						<td>{{ post['dp_count'] }}</td>
						<td>
							<form action="{{ url_for('department.delete_dp', id=post['id']) }}" method="post">
								<a class="btn btn-warning"
									href="{{ url_for('department.update_dp', id=post['id']) }}">修改</a>
								<input class="btn btn-danger" type="submit" value="删除"
									onclick="return confirm('你确定删除该部门吗?');">
							</form>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<!-- 分页 -->
			{% include 'page.html' ignore missing  %}
			<!-- 分页 -->
			<hr />
		</div>
	</div>
</body>

</html>