<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>更多通知信息</title>

    <!-- 导入bootstrap -->
    {% include 'link_js.html' ignore missing  %}
    <!-- 导入自适应高度代码 -->
    <script src="{{url_for('static', filename='js/textarea.js')}}"></script>
</head>
<!-- 导入textarea样式 -->
{% include 'textarea.html' ignore missing  %}

<body>
    <ol class="breadcrumb" style="background-color: white;padding: 20px;position:relative;top:15px;">
        <li><a href="{{ url_for('company_user.home_user')}} ">主页</a></li>
        <li><a href="{{ url_for('company_user.notice_user')}}">通知管理</a></li>
        <li class="active">通知详细</li>
    </ol>
    <div class="col-sm-offset-1 col-sm-10" style="background-color:white;">
        {% for post in posts %}
        <h2 class="col-sm-offset-4">{{ post['cp_title'] }}</h2>
        <textarea class="bk" cols="120" readonly>{{ post['cp_body'] }}</textarea>
        <div class="pull-right">
            <p>发布人：{{ post['username'] }}&nbsp;&nbsp;&nbsp;&nbsp;发布时间：{{ post['cp_created'].strftime('%Y-%m-%d') }}</p>
        </div>

        {% endfor %}
    </div>
</body>

</html>